.Categories {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.CategoryGrid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.Category {
  cursor: pointer;
  border: solid var(--mainColor) 2px;
  border-radius: 0;
  min-width: 300px;
  width: 25vw;
  margin: 1.2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--mainColor);
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
}

.Category:hover {
  background-color: white;
  color: black;
}
/* 
.Category img {
  width: 100%;
} */

.DevNote {
  color: white;
  font-size: 0.75rem;
}
