.MainMenu{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.MainMenuLogo{
    width: var(--MainMenuLogoHeight);
}

.MenuItem{
    color: var(--mainColor);
    margin: var(--MainMenuItemsMargin);
}

h1.MenuItem{
    cursor: pointer;
}
h1.MenuItem:hover{
    color:var(--hoverColor);
}
h1.MainItem:active{
    color:var(--elementActiveColor);
}