.Collections{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.CollectionsTitle{
    color:white;
    font-family: var(--font-family);
}