.Collections{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.optionAbout{
    width: 250px;
    height: 50px;
    border: solid 1px var(--mainColor);
    margin: 100px;
    color:var(--mainColor);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.optionAbout:hover{
    background-color: var(--mainColor);
    color: black;
}