.RegisterForm{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap:10px;
}

input.RegisterInput{
    width: 400px;
    height: 30px;
    border-radius: 30px;
}

label.RegisterLabel{
    color:var(--mainColor);
}
.RegisterLogo{
    width: 100px;
    margin: 20px;
}

.RegisterForm h3{
    color: var(--mainColor);
    cursor: pointer;
    margin: 0;
}
.RegisterForm h3:hover{
    color:var(--hoverColor);
}