.SearchIcon{
    fill:var(--mainColor);
    width: var(--SearchIconSize);
}
.SearchIcon:hover{
    cursor: pointer;
}

.RowFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2vh;
    align-content: center;

}

input.SearchInput{
    transition: var(--transitionDuration);
    border-radius: var(--SearchBarBorderRadius);
    height: var(--SearchBarHeight);
    width: var(--SearchBarWidth);
    border:none;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
}
svg.SearchInput{
    fill:white;
    width: 15px;
    margin: 0;
    cursor: pointer;
}
.Hidden{
    display: none;
    transition: var(--transitionDuration);
}