.Products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.Filters{
    display: flex;
    flex-direction: row;
}
.Filters h3{
    color: var(--mainColor);
    margin: 20px;
}