.LoginIcon {
  fill: var(--mainColor);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: var(--transitionDuration);
}
.LoginIcon:hover {
  fill: var(--hoverColor);
}
.Hidden {
  display: none;
}
