.loginIcon{
    fill:var(--mainColor);
    width: 7vh;
    height: 7vh;
    cursor: pointer;
    transition: var(--transitionDuration);
}
.loginIcon:hover{
    fill:var(--hoverColor);
}
.Hidden{
    display: none;
}

