h1{
    color: white;
}

.rowFlex{
    display: flex; 
    flex-direction: row;
}

.columnFlex{
    display: flex;
    flex-direction: column;
}


#Admin{
    height: var(--contentHeight);
    width: 100%;
}

#Sidenav{
    width: 40vw;
    height: inherit;
    float: left;
    min-width: 200px;
    background-color: #111111;
    padding: 0;
    margin: 0;
    border: 0;
}

#Dashboard{
    width: 100vw;
    height: inherit;
    float: right;
    min-width: none;
    background-color: #0A0A0A;
    padding: 0;
    margin: 0;
    padding-left: 1rem;
}