.question{
    display:flex;
    flex-direction: row;
    cursor:pointer;
}
.question h2{
    color:white;
    margin: 20px;
}
.question h2:hover{
    color: var(--hoverColor);
}
.question svg{
    fill: var(--mainColor);
    width: 40px;
}
.Hidden{
    display: none;
}